/* Adjust header styles */
h1 {
    font-size: 2em;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1em;
    text-align: center;
    color: white;
}

html, body {
    border-color: #736b5e;
    color: #e8e6e3;

    background-color: #181a1b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    scrollbar-color: #454a4d #202324;
}

/* Adjust label styles */
label {
    margin: 10px 0;
    display: block;
}

input[type="submit"], button, input[type="button"]{
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
    border: 1px solid #444;
}

input[type="submit"]:hover, button:hover, input[type="button"]:hover {
	background-color: #183131;
    color: #54d7b9;
    border-color: #2b6f65;
}

input[type="submit"]:active, button:active, input[type="button"]:active, .active{
	background-color: #54d7b9;
    color: white;
    border-color: #2b6f65;
}

/* Adjust input and textarea styles */
input[type="text"], input[type="number"], textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: none;
    font-size: 18px;
    background-color: #444;
    color: #fff;
}

select{
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 0.25em;
    border: none;
    font-size: 1em;
    background-color: #444;
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

textarea{
    width: 95%;
    height: 20vh;
}

.container{
    width: 99%;
    height: 80vh;
    padding: 0.5em;
    gap: 3em;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.subcontainer{
    width: 99%;
    height: auto;
    display: flex;
}

.subbox{
    flex: 1;
}

.box {
    width: 25em;
    height: 25em;
    border-radius: 8%;;
    transition: transform 0.15s ease-in-out;
    text-align: center;
    vertical-align:middle;
	border: 1px solid #444;
    filter: grayscale(66%);
    position: relative;
    overflow: hidden;
}

.box:hover {
    animation: boxHover both 0.15s;
}

@keyframes boxHover {
    from {}
    to {
        width: 26em;
        height: 26em;
        box-shadow: 1em 1em 3em black;
        filter: grayscale(0%) saturate(125%);
    }
}


.box figure {
    position: relative;
    margin: 0;
}

.box img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;

}

.box figcaption {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    padding: 0.3em;
    margin: 0;
    z-index: 2;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

.box button{
    padding: 0px;
    border: none;
}

.formbox{
    flex: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

.radioContainer{
    width: 90%;
    height: 50em;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: inset 0.5em 0.5em 0.5em black;
    overflow: auto;
    padding: 0.5em;
    margin-bottom: 1em;
    gap: 0.5em;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.radioContainer input[type="radio"] {
    display: none;
}

.radioContainer label {
    display: block;
    width: 17em;
    height: 17em;
    border-radius: 8%;;
    transition: transform 0.15s ease-in-out;
	border: 1px solid #444;
    overflow: hidden;
}

.radioContainer label img {
    display: block;
    width: 100%;
    height: 100%;
}

.radioContainer label:hover{
    animation: radioHover both 0.15s;
}

@keyframes radioHover {
    from {}
    to {
        filter: grayscale(0%) saturate(125%);
    }
}

.radioContainer label:active{
    animation: radioActive both 1s;
}

@keyframes radioActive {
    50% {
        box-shadow: 0em 0em 3em white;
        filter: grayscale(0%) saturate(125%);
    }
    100% {
        box-shadow: 0em 0em 1em white;
        filter: grayscale(0%) saturate(125%);
    }
}

.radioContainer input[type="radio"]:checked + label {
    box-shadow: 0px 0px 1em white;
    filter: grayscale(0%) saturate(125%);
}
  
/* Hide the boxes next to the radio labels */
#form-toggle input[type="radio"] + label:before {
    display: none;
}

#form-toggle label {
    background-color: #444;
    color: #e8e6e3;
    padding: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    cursor: pointer;
}

#form-toggle label:first-of-type {
    border-radius: 0.25em 0 0 0.25em;
}

#form-toggle label:last-of-type {
    border-radius: 0 0.25em 0.25em 0;
}

#num_players_div h3{
    margin-top: 0 !important;
}

/* Style the forms */
#form-toggle input[type="radio"]{
    display: none !important;
}    

#form-toggle input[type="radio"]:checked + label {
	background-color: #2b6f65;
}

/* checkbox form */
.checkbox-container{
    gap: 0.5em;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

#checkbox-form figure {
    position: relative;
    margin: 0;
}

#checkbox-form img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;

}

#checkbox-form figcaption {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    padding: 0.3em;
    margin: 0;
    z-index: 2;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

#checkbox-form h3{
    width: 100%;
}

#checkbox-form input[type="text"]{
    left: 0;
}

.checkbox {
    width: 18em;
    height: 18em;
    border-radius: 8%;;
    transition: transform 0.15s ease-in-out;
    text-align: center;
    vertical-align:middle;
	border: 1px solid #444;
    position: relative;
    overflow: hidden;
}

.checkbox img{
    filter: brightness(60%);
}

.checkbox:hover{
    animation: checkboxHover both 0.15s;
}

@keyframes checkboxHover {
    from {}
    to {
        box-shadow: 1em 1em 3em black;
        filter: brightness(100%) saturate(125%);
    }
}

.checkbox:hover img{
    animation: checkboxHoverImg both 0.15s;
}

@keyframes checkboxHoverImg {
    from {}
    to {
        filter: brightness(100%);
    }
}

.container input[type="checkbox"]:active + label{
    animation: checkboxActive both 1s;
}

@keyframes checkboxActive {
    50% {
        box-shadow: 0em 0em 3em white;
        filter: brightness(100%) saturate(125%);
    }
    100% {
        box-shadow: 0em 0em 1em white;
        filter: brightness(100%) saturate(125%);
    }
}

input[type="checkbox"]:checked + label {
    box-shadow: 0px 0px 1em white;
    filter: brightness(100%) saturate(125%);
}

.container input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 768px) {
    .subcontainer{
        flex-direction: column;
    }
}