html, body {
    border-color: #736b5e;

    background-color: #181a1b;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

* {
    scrollbar-color: #454a4d #202324;
}

.container {
    display: flex;
    flex-wrap:wrap;
    column-gap: 0.5em;
    row-gap: 1em;
    justify-content:space-evenly;
    align-items:center;
    height: 93vh;
    width: 100%;
    margin-top: 1vh;
}

.box {
    width: 28em;
    height: 28em;
    border-radius: 8%;
    transition: transform 0.15s ease-in-out;
    text-align: center;
    vertical-align:middle;
	border: 1px solid #444;
    position: relative;
    overflow: hidden;
}

.box img{
    filter: brightness(60%);
}

.box:hover {
    animation: boxHover 0.15s ease-out forwards;
    transform: translateZ(0);
}

@keyframes boxHover {
    from {}
    to {
        box-shadow: 1em 1em 3em black;
        filter: brightness(100%) saturate(125%);
    }
}

.box:hover img{
    animation: imgHover 0.15s ease-out forwards;
}

@keyframes imgHover {
    from {}
    to {
        filter: brightness(100%);
    }
}

.box figure {
    position: relative;
    margin: 0;
}

.box img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;

}

.box figcaption {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    padding: 0.3em;
    margin: 0;
    z-index: 2;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

a {
    color: inherit;
    text-decoration: none;
    position: static;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        height: auto;
        row-gap: 1em;
    }

    .box {
        width: 20em;
        height: 20em;
        border-radius: 8%;;
        transition: transform 0.15s ease-in-out;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #444;
        filter: grayscale(66%);
    }

    @keyframes boxHover {
        from {}
        to {
            width: 21em;
            height: 21em;
            box-shadow: 1em 1em 3em black;
            filter: grayscale(0%) saturate(125%);
        }
    }}