<!DOCTYPE html>
<html>
  <head>
    <title>Edit game</title>
    <link rel="stylesheet" href="{{url_for('static', path='editrules.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <button onclick="goBack()" type="button">Back</button>

    <h1>Edit</h1>
    <div class="container">
        {% for game in games %}
            <a href="/edit/{{game['id']}}">
              <div class="box">
                  <figure>
                      <img src="{{game['icon']}}" style="width:100%">
                      <figcaption>{{game["name"]}}</figcaption>
                    </figure> 
              </div>
            </a>
        {% endfor %}

        <script>
          function goBack() {
            window.location.href = "/";
          }
        </script>
    </div>
  </body>
</html>
