<!DOCTYPE html>
<html>
  <head>
    <title>Select game</title>
    <link rel="stylesheet" href="{{url_for('static', path='gameSelection.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <button onclick="goBack()" type="button">Back</button>

    <h1>Select a game</h1>
    <h2>Your games</h2>
    <div class="container">
      {% for game in games %}
        <a href="/gamePage/{{game['id']}}">
          <div class="box">
            <figure>
                <img src="{{game['icon']}}" style="width:100%">
                <figcaption>{{game["name"]}}</figcaption>
            </figure> 
          </div>
        </a>
      {% endfor %}
    </div>
    <h2>Shared</h2>
    <div class="container">
      {% for game in shared %}
        <a href="/sharedPage/{{game['id']}}">
          <div class="box">
            <figure>
                <img src="{{game['icon']}}" style="width:100%">
                <figcaption>{{game["name"]}}</figcaption>
            </figure> 
          </div>
        </a>
      {% endfor %}
    </div>

    <script>
      function goBack() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>