<!DOCTYPE html>
<html>
<head>
	<title>{{game["name"]}}</title>
    <link rel="stylesheet" href="{{url_for('static', path='loadpage.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{url_for('static', path='js/jquery-3.7.0.min.js')}}"></script>
</head>
<body>
	<button onclick="goBack()" type="button">Back</button>

	<h1>{{game["name"]}}</h1>
	<h2 style="color:red">{{errorMessage}}</h2>

	{% if owner %}
	<form action="/deleteSession/{{game['id']}}" method="post">
		<button class="deleteButton">Delete</button>
	</form>
	{% endif %}
	<form method="post" action="/resume" id="gameStart">
		<div class="container">
		{% if ready %}
			<div id="boxId" class="box">
				<button id="boxButton">
					<figure class="boxFigure">
						<img src="{{game['icon']}}" style="width:100%">
						<figcaption class="boxCaption">Start</figcaption>
					</figure>
				</button>
			</div>
		{% else %}
			<div id="boxId">
				<button id="boxButton" disabled>
					<figure class="boxFigure">
						<img src="{{game['icon']}}" style="width:100%">
						<figcaption class="boxCaption">Waiting for players ...</figcaption>
					</figure>
				</button>
			</div>
		{% endif %}
			<input type="hidden" name="gameId" value="{{game['id']}}">

			<div class="formbox" id="formbox">
				<h3>Game description:</h3>
				<p>{{rules['description']}}</p>
				<div class="subcontainer">
					<div class="subbox">
						<div class="player-card">
							<p><strong>Session incipit: </strong>{{game['description']}}</p>
						
                        	<p><strong>Session language: </strong>{{game['language']}}</p>

							<p><strong>Number of Players: </strong>{{game['numPlayers']}}</p>
						</div>
					</div>
					<div class="subbox">
						<div id="player_sheets">
							{% for friend in game['playerSheets'] %}
							<div class="player-card">
								{% if friend["username"] %}
									<h3 class="player-name">{{friend["username"]}} {% if friend["owner"] %}<em>Session owner</em>{% endif %}</h3>
									{% if friend["ready"] %}
										<p id="{{friend['id']}}" class="playerReady">Ready</p>
									{% else %}
										<p id="{{friend['id']}}" class="playerNotReady">Not ready</p>
									{% endif %}
								{% endif %}
								
								{% if friend["name"] %}
									<p class="character-info"><strong>Character Name:</strong> {{friend["name"]}}</p>
									<p><strong>Character Sheet:</strong> {{friend["sheet"]}}</p>
								{% else %}
									<p><em>No character information available.</em></p>
								{% endif %}
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	{% if game['playerSheets'][0]['username'] %}
	<script>
		var response = ""

		function getOnlineFriends() {
			fetch('/readyFriends/{{game["id"]}}')
				.then(response => response.json())
				.then(data => {
					data.forEach(user =>{
						var element = document.getElementById(user.id)
						if(user.ready == true){
							element.removeAttribute("class", "playerNotReady")
							element.setAttribute("class", "playerReady");
							element.innerText = "Ready"
						}else{
							element.removeAttribute("class", "playerReady")
							element.setAttribute("class", "playerNotReady");
							element.innerText = "Not ready"
						}
					});

					var allReady = data.every(user => user.ready == true);
					box = document.getElementById("boxId");
					button = document.getElementById("boxButton")
					if (allReady) {
						box.setAttribute("class", "box");
						var figure = box.querySelector(".boxFigure");
						var figcaption = figure.querySelector(".boxCaption");
						figcaption.innerText = "Start";
						button.disabled = false;
					}else{
						box.removeAttribute("class", "box");
						var figure = box.querySelector(".boxFigure");
						var figcaption = figure.querySelector(".boxCaption");
						figcaption.innerText = "Waiting for players ...";
						button.disabled = true;
					}

				})
				.catch(error => {
				console.error(error);
				});
		}

		setInterval(getOnlineFriends, 1500);

		function goBack() {
			window.location.href = "/loadGames";

			fetch('/setNotReadyUser/{{game["id"]}}', {
				method:'get',
				keepalive: true // this is important!
			})
		}

		$(window).on('beforeunload', function() {
			console.log("done")

			event.preventDefault();

			fetch('/setNotReadyUser/{{game["id"]}}', {
				method:'get',
				keepalive: true // this is important!
			})
			return undefined;
		});
	</script>
	{% else %}
	<script>
		function goBack() {
			window.location.href = "/loadGames";
		}
	</script>
	{% endif %}

</body>
</html>