<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
    <link rel="stylesheet" href="{{url_for('static', path='login_style.css')}}">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
	<div class="login-box">
		<h1>Login</h1>
		<form action="/token" method="post">
			<label for="email">Email address or username:</label><br>
			<input type="text" id="email" name="username" required><br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" required><br>
			<button type="button" onclick="togglePassword()" id="showHideButton" class="formButton">Show</button><br>
			<input type="submit" value="Login">
		</form>
        <div class="new-to-site">
			<p>New to this website?</p>
			<a href="/registration"><button>Register</button></a>
		</div>
        <p>{{message}}</p>
		<script>
		function togglePassword() {
			var button = document.getElementById("showHideButton")	
			var passwordField = document.getElementById("password");
			if (passwordField.type === "password") {
				button.innerHTML="Hide"
				passwordField.type = "text";
			} else {
				button.innerHTML="Show"
				passwordField.type = "password";
			}
		}
		</script>
	</div>
</body>
</html>